
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      border: none;
      text-decoration: none;
   }

   html {
      width: 100vw;
      height: 100vh;
      font-size: 62.5%;
      overflow-x: hidden;
   }

   body {
      font-family: 'Montserrat', sans-serif
   }
   header {
      padding-bottom: 0.5vw;
      padding-top:0.5vw;
      height: auto;
      width: 100vw;
      display: flex;
      background-color: #1870a7;
      justify-content: center;
   }

   div.top-header-container {
      display: flex;
      width: 80vw;
      justify-content: center;
      column-gap: 1vw;
   }

   .top-header-container ul{
      display:flex;
      flex-grow:1;
      column-gap: 1vw;
      align-items: center;
   }

   div.cart {
      display: flex;
      flex-grow:1;
      align-items: center;
      justify-content: right;
      width: 10vw;
   }   

   .top-header-container a, .wrap {
      font-size: 13px;
      color: white;
   }

   .wrap {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1vw;
   }
   

   .top-header-container a:hover {
      color:#83b3cf;
      transition: 350ms ease-in;
   }
   #bibi:hover {
      color:#83b3cf;
      transition: 350ms ease-in;
   }

   /* MAIN HEADER */

   
   .main-header-container {
      display: flex;
      align-items: center;
      justify-content: center;
      
   }
   
   .logo-menu {
      width: 80vw;
      display:flex;
      align-items: center;
      justify-content: space-between;
      
   }
   


   .logo img {
      width: 180px;
   }
   
   .menu-header li {
      font-size: 13px;
      text-transform: uppercase;
      color: #666;
      
      
   }
 
   /* #empresa {
      background-color: blue;
      padding-bottom: ;
   } */
   .menu-header li a:hover {
      
      color:#1870a7;
      transition: 350ms ease-in;
      
   }
   .menu-header li a {
      color:#666;
   }

   .search a {
      color:#666;
   }
.search a:hover {
      color:#1870a7;
      transition: 350ms ease-in;
 }

   .search a i {
      font-size: 15px;
   }

   .menu-header {
      width: 60vw;
      flex-basis:100%;
      justify-content: center;
      display: flex;
      column-gap: 1vw;;
   }

   
.main-header-container {
   box-shadow:0px 2px 5px rgba(50, 50, 50, 0.77);
    color: white;
}
   
main {
   position: static;
}
   /* RESPONSIVIDADE */
   
  
   
   @media screen and (max-width: 1009px) {
      .menu-header li {
         font-size: 10px;
      }
      .logo img {
         width: 150px;
      }
   }
   
   @media screen and (max-width: 780px) {
      .menu-header li {
         font-size: 9px;
      }
      .logo img {
         width: 120px;
      }
   }
   @media screen and (max-width: 703px) {
      .menu-header li, .search {
         display:none;
      }
      
   }

   @media screen and (max-width: 500px) {
      .wrap {
         display: none;
      }
      
      .logo img {
         width: 150px;
      }
     .top-header-container a {
         font-size: 25px;
         color: white;
      }
      .top-header-container ul{
         display:flex;
         flex-grow:1;
         column-gap: 3vw;
         align-items: center;}
   }


